
body {
    font-family: roboto;
    height: 90vh;
}
  
.header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex: none;
    flex-wrap: wrap;
}


