.container {
    position: relative;
    width: 330px;
    height: 460px;
    flex: none;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card.isFlipped {
    transform: rotateY(180deg);
}

.cardFront {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  
}

.cardBack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 2px solid black;
    border-radius: 10px;
    transform: rotateY(180deg);

    color: white;
    background-color: rgb(41, 41, 41)
}
.colorRow {
    display : flex;
    align-items: center;
}

p {
    margin: 0;
}

img {
    border: 2px solid black;
    border-radius: 10px;
}

